<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <style>
      .css-1y788ow * {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
      }
      .css-112b6kw {
        padding: 12px;
        border-radius: inherit;
      }
    </style>
</head>
<body>
 
    {{{body}}}
    
  <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
    new Crate({
      server: '299881420891881473',
      channel: '355719584830980096'
    })
    setTimeout()
  </script>
</body>
</html>